#!/bin/bash
#
# packer.env
#
# To use run-packer - https://gist.github.com/maoo/0257b5e13b7b0cc0c39c
#
# bash -c 'curl -L bash -c 'curl -L https://gist.githubusercontent.com/maoo/0257b5e13b7b0cc0c39c/raw| bash -s -- ./packer.env'| bash -s -- ./packer.env'
#

# Locate Packer Cache, Berksfile and running folders
export ROOT_FOLDER=`pwd`
export BERKS_FILE=$ROOT_FOLDER/Berksfile
export PACKER_CACHE_DIR=$ROOT_FOLDER/packer_cache
export TIMESTAMP=`date +%s`
export VERSION=0.0.1

# Configure Packer Common Github Project coordinates and paths
export GITHUB_PACKER_REPO=Alfresco/packer-common
export GITHUB_PACKER_VERSION=master
export GITHUB_PACKER_REL_PATH=packer-common
export PACKER_INSTANCE_TPL=$ROOT_FOLDER/packer.rb
export PACKER_BUILDER_TPL_NAME=vbox-iso # Available in Packer Common: amazon, vbox-iso, vbox-ovf
export PACKER_PROVISIONER_TPL_NAME=chef

# Locate Databags
export GITHUB_DATABAGS_REPO=<my-github-account>/<my-databags-project>
export GITHUB_DATABAGS_VERSION=master
export GITHUB_DATABAGS_REL_PATH=data_bags

# Uncomment for debugging purposes
# export PACKER_LOG=1

# AWS ebs configurations
# export AWS_KEY_ID=
# export AWS_KEY_SECRET=
# export KEYPAIR_NAME=

# Centos 6.5 HVM from bashton.com (ebs)
# http://thecloudmarket.com/image/ami-526f8725--centos-6-5-hvm-bashton1
export SOURCE_AMI=ami-526f8725
export REGION=eu-west-1
export AMI_VIRTUALIZATION_TYPE=hvm #Depends on source ami and builder type
export ENHANCED_NETWORKING=true
export SECURITY_GROUP_ID1=sg-12345678
export SECURITY_GROUP_ID2=sg-87654321
export INSTANCE_TYPE=m3.medium #Depends on source ami and builder type

# Coordinates for generated AMI
export AMI_NAME=my-image-$TIMESTAMP
export AMI_DESCRIPTION="Centos 6.5 with my chef logic"
export BUNDLE_DESTINATION=/tmp
export SSH_USERNAME=ec2-user

# Coordinates for generated Virtualbox OVF / Vagrant box
export ISO_URL=http://centos.cadt.com/6.6/isos/x86_64/CentOS-6.6-x86_64-minimal.iso
export ISO_SHA256=5458f357e8a55e3a866dd856896c7e0ac88e7f9220a3dd74c58a3b0acede8e4d
export OUTPUT_DIRECTORY=vbox-output
export VAGRANT_OUTPUT_FILE=vagrant-output
export VM_NAME=img-basic-$VERSION

# Chef provisioning parameters
export COOKBOOK_PATH=./berks-cookbooks
